python-magic >= 0.4.13
click
# frozendict: dependency of pyld
# the version 2.1.2 is causing segmentation faults
# cf https://forge.softwareheritage.org/T3815
frozendict != 2.1.2
iso8601
pybtex
pyld
rdflib >= 7.1.4  # first version with this patch: https://github.com/RDFLib/rdflib/pull/3011
sentry-sdk
# for pkg_resources still used in pybtex until next release
setuptools < 81
typing-extensions
xmltodict
