# Add here external Python modules dependencies, one per line. Module names
# should match https://pypi.python.org/pypi names. For the full spec or
# dependency lines, see https://pip.readthedocs.org/en/1.1/requirements.html
vcversioner
pymongo
pygments

swh.core >= 0.0.24
swh.objstorage >= 0.0.12
swh.scheduler >= 0.0.9
