# Add here external Python modules dependencies, one per line. Module names
# should match https://pypi.python.org/pypi names. For the full spec or
# dependency lines, see https://pip.readthedocs.org/en/1.1/requirements.html
vcversioner
pygments
click
chardet

swh.core >= 0.0.27
swh.storage >= 0.0.70
swh.objstorage >= 0.0.13
swh.scheduler >= 0.0.9
