Source: swh-indexer
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2),
               python3-all,
               python3-chardet (>= 2.3.0~),
               python3-click,
               python3-nose,
               python3-pygments,
               python3-magic,
               python3-setuptools,
               python3-swh.core (>= 0.0.27~),
               python3-swh.model (>= 0.0.15~),
               python3-swh.objstorage (>= 0.0.13~),
               python3-swh.scheduler (>= 0.0.14~),
               python3-swh.storage (>= 0.0.93~),
               python3-vcversioner
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/78/

Package: python3-swh.indexer
Architecture: all
Depends: fossology-nomossa (>= 3.1~),
         python3-swh.scheduler (>= 0.0.14~),
         python3-swh.core (>= 0.0.27~),
         python3-swh.model (>= 0.0.15~),
         python3-swh.objstorage (>= 0.0.13~),
         python3-swh.scheduler (>= 0.0.14~),
         python3-swh.storage (>= 0.0.93~),
         universal-ctags (>= 0.8~),
         ${misc:Depends},
         ${python3:Depends}
Description: Software Heritage Content Indexer
