Source: swh-indexer
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-nose,
               python3-setuptools,
               python3-swh.core (>= 0.0.25~),
               python3-swh.storage (>= 0.0.64~),
               python3-swh.objstorage (>= 0.0.13~),
               python3-swh.scheduler (>= 0.0.9~),
               python3-click,
               exuberant-ctags,
               python3-pymongo (>= 3.0.3~),
               python3-pygments,
               python3-vcversioner
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/diffusion/78/

Package: python3-swh.indexer
Architecture: all
Depends: exuberant-ctags, python3-pymongo (>= 3.0.3~), ${misc:Depends}, ${python3:Depends}
Description: Software Heritage Content Indexer
